<h1>Change password</h1>

<form class='form-container' id="changepw">
  <label for="password">Old password</label>
  <input name="passwords[old]" type="password" placeholder="old password" autocomplete='on'>
  <label for="password new">New password</label>
  <input name="passwords[new]" type="password" placeholder="new password" autocomplete='on'>
  <button class="btn">CHANGE PASSWORD</button>
</form>