<h1>Make your new post</h1>
<form class='form-container' id="new-post-form">
  <label for="title">Title</label>
  <input name="post[title]" type="text" placeholder="enter your title here" required>
  <label for="body">Content</label>
  <textarea name="post[content]" placeholder="enter your body here" id="new-post-body" rows="5" cols="32"
    required></textarea>
  <button class="btn">SUBMIT</button>
</form>