<form class='form-container form-user' id="signin">
  <h1>Sign in</h1>
  <input name="credentials[email]" type="email" placeholder="email" required>
  <input name="credentials[password]" type="password" placeholder="password" autocomplete='on' required>
  <button class="btn">SIGN IN</button>
</form>