<nav>
  <h1 id="back-button">Blog Project</h1>
  <button id="new-post" class="btn">Add a new post</button>
  <button id="to-change-password" class="btn btn-nav-secondary">Change password</button>
  <button id="signout" class="btn btn-nav-secondary">Sign out</button>
</nav>