<form id="signup" class='form-container form-user'>
  <h1>Sign up</h1>
  <input name="credentials[email]" type="email" placeholder="email">
  <input name="credentials[username]" type="text" placeholder="username">
  <input name="credentials[password]" type="password" placeholder="password" autocomplete='on'>
  <input name="credentials[password_confirmation]" type="password" placeholder="password confirmation"
    autocomplete='on'>
  <button class="btn">SIGN UP</button>
</form>